:root {
  --vt-c-white: #ffffff;
  --vt-c-grey: #e3e3e3;
  --vt-c-black: #00000000;
}

:root {
  --color-background: var(--vt-c-white);
  --text-white: var(--vt-c-white);
  --text-dark: var(--vt-c-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
}
